html {
  text-align: center;
}

p {
  margin: 0px;
  padding: 0px;
}
/* * {
  box-sizing: border-box;
} */
.container {
  width: 950px;
  margin: 0 auto;
}
button {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
